body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #ffc796 100%
  );
}
